.container text-center img{
  width: 540%;
  height: 231;
}
#tex img{
  width: 540%;
  height: 231;
  
}
#sob {
  justify-content: center;
  align-items: center;
  color: white;
}
#nom{
  justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top:750px;
   left: 500px;
   text-align:justify;
   font-size: 15px;
 
   
}
#sobre {
  justify-content: center;
    align-items: center;
    color: white;
  position: absolute;
 top: 1100px;
  left: 110px;
  column-count:2;
  text-align: justify;
}

#sob h3 {
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top:750px;
 left: 500px;
}
#esp{
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
    top:550px;
    left: 505px;
   
   
    
}
@media (max-width:800px){
  #espe{
      display:none;
  }
}
@media (max-width:800px){
  #espe{
      display:block;
  }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }
  
  .navbar-toggler {
    border: none;
    background-color:rgb(255, 255, 255);
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .navbar-nav {
    display: flex;
   
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .navbar-collapse {
      display: none;
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #000000;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
      z-index: 99;
    }
  
    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  
    .navbar-toggler {
      display: block;
    }
  
    .navbar-collapse.active {
      display: block;
    }
  }
  img{
    
   position: absolutes;
   max-width: 50%;
   height: auto;
   top: 750;
  }
  #home{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

 }
 #home::before{
    content:"" ;
    position: absolute;
    top: 0;
    right: 0;
    background: url("/img/img2.jfif") no-repeat center center/cover;
    height: 150%;
    width: 100%;
    z-index: -1;
    
 

 }
 #port{
  display: flex;
      flex-direction: column;
      align-items: center;
 }
 body {
    background: linear-gradient(rgb(0, 0, 0), rgb(120, 61, 138));
  }
  